* {
  font-family: Verdana, "Times New Roman", Times, serif;
  margin: 0;
}

.container.index-title {
  background-color: lightsalmon;
  text-align: center;
  font-size: 20px;
}

.container.recipes-list {
  background-color: lightblue;
  font-size: 1.1em;
}

.container.recipe-name {
    background-color: lightsalmon;
    padding: 20px;
}

.container.recipe-name h1 {
    margin-bottom: 10px;
}

.container.recipe-ingredients {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    font-size: 18px;
}

.container.recipe-ingredients li {
    font-style: italic;
}

.container.recipe-steps {
    background-color: rgb(186, 255, 186);
    padding: 20px;
}

